[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "~=6.0"
asyncio-mqtt = "~=0.12.1"

[dev-packages]
black = "*"
check-manifest = "~=0.48"
coverage-badge = "~=1.1.0"
flake8 = "*"
flake8-comprehensions = "*"
flake8-docstrings = "*"
flake8-noqa = "*"
mypy = "*"
pylint = "*"
pip-audit = "*"
pytest = "~=7.2.0"
pytest-cov = "~=4.0.0"
types-pyyaml = "*"
yamllint = "~=1.28.0"

[requires]
python_version = "3.8"
