[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "~=6.0"
asyncio-mqtt = "~=0.12.1"

[dev-packages]
black = "*"
mypy = "*"
check-manifest = "*"
flake8 = "*"
flake8-docstrings = "*"
pre-commit = "*"
types-pyyaml = "*"
pytest = "*"
pytest-cov = "*"
coverage-badge = "*"

[requires]
python_version = "3.8"
